## Root folders to ignore
/build/
/release/

## Visual Studio 2015 private folder
.vs/

## Visual Studio Code settings folder
.vscode/

## PyCharm projects
.idea/

## Generated/Compiler products
*.pdb
*.pyc
*.ilk

